[include]
	path = ~/.gitconfig.local

[user]
	email = hunter@tmbr.dog
	name = Hunter Hardy
	signingkey = /home/hunter/.ssh/github_signing.pub
[credential]
	helper = store
[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[credential "https://git.tmbr.dog"]
	provider = generic
[core]
	editor = nvim
[gpg]
	format = ssh
[commit]
	gpgsign = true
